.taskItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--element-bg);
    border-bottom: 1px solid var(--background);
}

.taskItemText {
    flex: 1;
    cursor: grab;
}
.taskItemText:active {
    cursor: grabbing;
}

.taskItemCompleted {
    flex: 1;
    text-decoration: line-through;
    color: var(--text-disabled);
    cursor: grab;
}
.taskItemCompleted:active {
    cursor: grabbing;
}

.taskItemCheckbox {
    margin-right: 10px;
}

.taskItemRemoveButton {
    width: 34px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.taskItemCheckbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.taskItemCheckbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.taskItemCheckmark {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    border-radius: 50%;

    background: transparent;
    border: 2px solid hsl(233, 11%, 84%);
    transition: all 0.2s ease;
    position: relative;

}


.taskItemCheckmark::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--element-bg);
    z-index: 0;
    transition: opacity 0.2s ease;
    opacity: 0;
}

.taskItemCheckbox:hover .taskItemCheckmark {
    border: none;
    background: var(--check-gradient);
}

.taskItemCheckbox:hover .taskItemCheckmark::before {
    opacity: 1;
}

.taskItemCheckbox input[type="checkbox"]:checked + .taskItemCheckmark {
    border: none;
    background: var(--check-gradient);

}

.taskItemCheckbox input[type="checkbox"]:checked + .taskItemCheckmark::before {
    opacity: 0;
}

.taskItemCheckbox input[type="checkbox"]:checked + .taskItemCheckmark img {
    opacity: 1;
}

.taskItemCheckmark img {
    width: 14px;
    aspect-ratio: 1/1;
    opacity: 0;
    transition: opacity 0.2s ease;
}